<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- main CSS file -->
    <link rel="stylesheet" href="./dist/css/app.css">
    <title>AvadaSEO</title>
</head>
<body>
    <div id="app">
        <!-- Site Header -->
        <header id="site_header">
            <div class="container">
                <!-- Navbar -->
                <nav>
                    <div class='logo_seo'>
                        <img src="/src/img/logo_seo_w_1x.png" alt="">
                    </div>
                    <div class="nav_links">
                        <ul>
                            <li v-for="link in links">
                                <a href="#" :class='link.class'>{{link.name}} <span v-if="link.class === 'apply'">APPLY</span></a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <!-- Navbar -->
            </div>
        </header>
        <!-- /Site Header -->

        <!-- Site Main -->
        <main id="site_">

        </main>
        <!-- /Site Main -->

        <!-- Site Footer -->
        <footer id="site_footer">
            
        </footer>
        <!-- Site Footer -->
    </div>

    <!-- link to VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- main JS file -->
    <script src="./dist/js/app.js"></script>
</body>
</html>