@mixin btn{
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.btn_y{
    @include btn;
    background-color: $brand_primary;
    color: white;
    border-radius: 2rem;
    &:hover{
        background-color:white;
        color: $brand_primary;
    }
}

.btn_b{
    @include btn;
    background-color: $brand_secondary;
    color: white;
    border-radius: 2rem;
    &:hover{
        background-color:white;
        color: $brand_secondary;
    }

}

.btn_empty{
    @include btn;
    background-color: white;
    color: $grey_txt;
    border: 2px solid $grey_txt;
}

