.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1.2rem;
    .card{
        padding: 2rem;
        margin: 0 1rem;
        h3{
            font-weight: bold;
            padding: 1.5rem;
        }
        i{
            color: $brand_primary;
            font-size: 2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        p{
            line-height: 2rem;
        }
    }
}


.meet{
    .card{
        background-color: white;   
        color: $grey_txt; 
        h3{
            color: black;
        }
    }
}

.services{ 
    .card{
        background-color: $light_blue_bg;
        min-height: 450px;
        position: relative;
        a{
            position: absolute;
            bottom: 2rem;
            left: 50%;
            font-size: 0.8rem;
            transform: translate(-50%, 0);
            &:hover{
                color: white;
            }
        }
    }
}

.work{
    .cards{
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        .card{
            margin: 0;
            padding: 1rem;
            width: calc(100% / 3);
            img{
                width: 100%;
            }
        }
    }
}

.plan{
    .cards{
        width: 100%;
        .card{
            background-color: white;
            color: black;
            padding: 1rem 1rem 3rem 1rem;
            width: calc(100% / 4 );
            h3{
                font-weight: 900;
            }
            ul{
                list-style: none;
                li{
                    padding: 1.5rem 0;
                }
                li:last-child{
                    padding-bottom: 4rem;
                }
            }
            a:hover{
                background-color: $brand_primary;
                color: white;
                border: 1px solid white;
            }
        }
    }
}