#site_footer{
    min-height: 40vh;
    background-color: $light_bg;
    color: $grey_txt;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
            margin: 3rem 0;
        }
        .links{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        font-weight: bold;
                        font-size: 1rem;
                        color: $grey_txt;
                        padding: 0 2rem;
                        &:hover{
                            color: $brand_primary;
                        }
                    }
                }
            }
        }
        .copyright{
            margin-top: 4rem;
        }
        .social{
            margin-top: 2rem;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        color: $grey_txt;
                        padding: 0 0.8rem;
                        font-size: 1.5rem;
                        &:hover{
                            color: $brand_primary;
                        }
                    }
                }
            }
        }
    }
}