
.meet{
    background-color: $light_bg;
    color: $grey_txt;
    .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            width: 45%;
            p{
                font-size: 1.2rem;
                margin-top: 2rem;
                line-height: 2rem;
            }
        }

    }
}