.services{
    background-color: $dark_bg;
    background-image: url('/dist/img/pattern_background.png');
    min-height: 100vh;
    color: white;
    text-align: center;
    padding-bottom: 6rem;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            width: 40%;
            p{
                font-size: 1.2rem;
                margin-top: 2rem;
                line-height: 2rem;               
            }
        }
    }
    a{
        color: $brand_primary;
    }
}