.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1.2rem;
    .card{
        padding: 2rem;
        margin: 0 1rem;
        h3{
            font-weight: bold;
            padding: 1.5rem;
        }
        i{
            color: $brand_primary;
            font-size: 2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        p{
            line-height: 2rem;
        }
    }
}


.meet{
    .card{
        background-color: white;    
    }
}

.services{ 
    .card{
        background-color: $light_blue_bg;
        height: 450px;
        position: relative;
        a{
            position: absolute;
            bottom: 2rem;
            left: 50%;
            font-size: 0.8rem;
            transform: translate(-50%, 0);
        }
    }
}